<div class="price" style="padding:0px 30px ;">
    <h1 style="color: white ; padding-top:30px;">Pricing Plan</h1>
   <div class="row justify-content-between p-5">
         <div class=" cont-2 col-md-4">
               <div class="container" >
                 <p>Affordable Pricing Plan</p>
                   <div class="cont-2">
                       <small>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere et minus voluptatum perspiciatis quas ratione sint vero
                        Quaerat ?</small>
                        <div style="margin-top:30px ; padding:20px 0px" >
                               <h4><i class="fa fa-check"></i>Cardio Exercise</h4>
                               <h4><i class="fa fa-check"></i>Weight-lifting</h4>
                               <h4><i class="fa fa-check"></i>Diet Plans</h4>
                               <h4><i class="fa fa-check"></i>Overall Result</h4>
                               <button class="btn btn-danger" style="margin-top:40px ; margin-left: 20px; padding:10px 30px;">All Pricing</button>
                           </div>
                   </div>
               </div>
         </div> 
         <div class="col-md-4">
            <div class="container" >
               <p>Basic Plan</p>
               
               <div class="cont-1">
                <small style="font-size:40px ;" >$<span style="color:red;font-size: 40px;" >30</span>/Month</small>
                   <h5>Personal Training</h5>
                   <h5>Cardio Exercise</h5>
                   <h5>Weight-lifting</h5>
                   <h5>Diet Plans</h5>
                   <h5>Overall Result</h5>
                   <button class="btn btn-danger" style="margin-top:40px ; padding:10px 30px;">Get Started</button>
               </div>
            </div>
        </div> 
        <div class="col-md-4">
            <div class="container">
                <p >Premieum Plan</p>
               
               
               <div class="cont-1">
                <small style="font-size:40px ;" >$<span style="color:red;font-size: 40px;" >60</span>/Month</small>
                   <h5>Personal Training</h5>
                   <h5>Cardio Exercise</h5>
                   <h5>Weight-lifting</h5>
                   <h5>Diet Plans</h5>
                   <h5>Overall Result</h5>
                   <button class="btn btn-danger" style="margin-top:40px ; padding:10px 30px;">Get Started</button>
               </div>
               
            </div>
        </div> 
   </div>
</div>
