<nav class="row sticky justify-content-between m-0 " style="background-color: rgb(55, 54, 54);"  >
    <div class="col-md-3" style="margin-left:20px ;"> 
        <h1  style="color:#dc3545; font-size: 50px; font-weight: bold;">Fit <span style="color:whitesmoke ;">N</span> Fine</h1>
    </div>

    <div class="col-md-6 ">
          <ul class="d-flex mt-2 ml-3" style="margin-left:30px ;">
             <li><a routerLink="">HOME</a></li> 
             <li><a href="price">PRICING</a></li>
        
             <li><a href="exercise">EXERCISE</a></li>
             <li><a href="#section-3">NEAR GYM</a></li>

             <input type="submit" value="Learn More" class="btn btn-danger" style="padding:3px 10px">
          </ul>
    </div>
    
</nav> 
<router-outlet></router-outlet>
